<span style="color:red">@ViewBag.Message</span>

<form method="post" action="back" class="mt-5">
    <button type="post" class="btn btn-secondary" asp-controller="Home" asp-action="index">
        Regresar
    </button>
</form>

<section class="contenedor">
    <div class="bloque">
        <a class="nav-link text-dark" asp-area="" asp-controller="Pacientes" asp-action="Index">
            <i class="">Icono aqui</i>
            <p><strong>Ver Pacientes</strong></p>
        </a>
    </div>
    <div class="bloque">
        <a class="nav-link text-dark" asp-area="" asp-controller="Doctor" asp-action="Index">
            <i class="">Icono Aqui</i>
            <p><strong>Ver Doctores</strong></p>
        </a>
    </div>
    <div class="bloque">
        <a class="nav-link text-dark" asp-area="" asp-controller="AsistenteLocal" asp-action="Index">
            <i class="">Icono Aqui</i>
            <p><strong>Ver Asistentes Locales</strong></p>
        </a>
    </div>
    <div class="bloque">
        <a class="nav-link text-dark" asp-area="" asp-controller="AsistenteRemoto" asp-action="Index">
            <i class="">Icono aqui</i>
            <p><strong>Ver Asistentes Remotos</strong></p>
        </a>
    </div>


</section>
